<div class="card card-padding mt-3">
        <div class="row">
            <div class="col-md-6">
                <h6>CATEGORY</h6>
            </div>
            <div class="col-md-6">
                <div class="nav-item dropdown text-right">
                    <a class="nav-link m-0 p-0 dropdown-toggle" href="#" id="visitorCategoryOption" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ categoryfilter ? categoryfilter : "FILTER" }}  
                    </a>
                    <div class="dropdown-menu pull-right more_filter_right" aria-labelledby="purpose">
                        <a class="dropdown-item cursor-pointer" (click)="visitorCategoryFilter(visitorCategoriesOption?._id)" *ngFor="let visitorCategoriesOption of visitorCategoryGraph?.data">{{visitorCategoriesOption?._id}}</a>
                    </div>
                </div>
            </div>
        </div>
        
        <graph-loader [loader]="graphDataLoader"></graph-loader>

        <div id="visitorCategoryChart" [style.visibility]="!graphDataLoader ? 'visible' : 'hidden'" class="mt-3" style="width: 100%; height: 350px"></div>
    </div>