<section class="bg-color-reset">
  <!-- <mat-toolbar class="bg-transparent">
            <span>My Application</span>
        </mat-toolbar> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="auth-padding-left-text auth-img">
          <h2 class="mt-80">Constituency Management System</h2>
          <ul class="pl-0 list-style-none mt-5">
            <li>
              <img
                class="img-fluid"
                src="../../../../assets/images/checked.svg"
                alt="check"
              />
              Visitor Management
            </li>
            <li>
              <img
                class="img-fluid"
                src="../../../../assets/images/checked.svg"
                alt="check"
              />
              Scheduling and Planning
            </li>
            <li>
              <img
                class="img-fluid"
                src="../../../../assets/images/checked.svg"
                alt="check"
              />
              Workers Management
            </li>
            <li>
              <img
                class="img-fluid"
                src="../../../../assets/images/checked.svg"
                alt="check"
              />
              Knowledge Management System
            </li>
            <li>
              <img
                class="img-fluid"
                src="../../../../assets/images/checked.svg"
                alt="check"
              />
              Projects
            </li>
            <li>
              <img
                class="img-fluid"
                src="../../../../assets/images/checked.svg"
                alt="check"
              />
              Household Analytics
            </li>
            <li>
              <img
                class="img-fluid"
                src="../../../../assets/images/checked.svg"
                alt="check"
              />
              Leader's Progress Tracker
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-5">
          <div class="mt-6">
            <!-- <h5 class="card-title text-center">Welcome</h5> -->
            <form
              [formGroup]="resetPasswordForm"
              (ngSubmit)="submit()"
              class="login-half-width"
            >
              <div class="form-label-group">
                <label for="resetPassword">New Password </label>
                <input
                  type="password"
                  formControlName="resetPassword"
                  class="form-control"
                  placeholder="Email New Password"
                  required
                  autofocus
                />
                <!-- <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
                                        <div *ngIf="f.username.errors.required">username is required.</div>
                                        <div *ngIf="f.username.errors.username">Please, enter valid email address.</div>
                                    </div> -->
              </div>

              <div class="form-label-group">
                <label for="confirmPassword">Confirm Password</label>
                <input
                  type="password"
                  formControlName="confirmPassword"
                  id="confirmPassword"
                  class="form-control"
                  placeholder="Confirm New Password"
                  required
                />
              </div>

              <button
                [disabled]="!resetPasswordForm.valid"
                class="btn btn-lg btn-danger btn-block text-uppercase"
                type="submit"
              >
                Reset <app-spiner [loader]="loader"></app-spiner>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
