<div class="row" style="min-height: 100%;margin: 0;">
    <div class="col-md-1" *ngIf="this.authData?.token"
        style="border-right: 1px solid var(--cardBorder); background-color: inherit; box-shadow: 0px 3px 6px #00000029;/* position: fixed; *//* height: 100%; */padding: 0;position: relative;top: 0;display: flex;/* align-items: center; */justify-content: center; margin:0; z-index: 1111;background: #1a1f2e;">
        <div class="log-position">

            <div class="log-icon"><img src="../../../../assets/images/login/rednsignt.png" width="100%"></div>

            <ng-container *ngIf="authenticated">
                <a class="" href="Javascript:void(0)" routerLink="add-visitor" [routerLinkActive]="['active']">
                    <img src="../../assets/images/side-nav/entry.png" class="image-size">
                    <div class="pb-45">Add-Visitor</div>
                </a>
                <a href="Javascript:void(0)" routerLink="dashboard" [routerLinkActive]="['active']">
                    <img src="../../assets/images/side-nav/dashboard.png" class="image-size">
                    <div class="pb-45">Analytics</div>
                </a>
                <a href="Javascript:void(0)" routerLink="total-visit-list" [routerLinkActive]="['active']">
                    <img src="../../assets/images/side-nav/userlist.png" class="image-size">
                    <div class="pb-45">Visitors</div>
                </a>

                <a routerLink="user/list" href="Javascript:void(0)" [routerLinkActive]="['active']">
                    <img src="../../assets/images/side-nav/users.png" class="image-size">
                    <div class="pb-45">Users</div>
                </a>

                <a routerLink="user/list" href="Javascript:void(0)" (click)="logOut()">
                    <img src="../../assets/images/side-nav/logout.png" class="image-size">
                    <div class="pb-45">Logout</div>
                </a>

                <div class="version_side">
                    V1.2.3
                </div>

            </ng-container>


            <ng-container *ngIf="this.authData.role==(editorRole)">

                <a href="Javascript:void(0)" routerLink="add-visitor" [routerLinkActive]="['active']">
                    <img src="../../assets/images/side-nav/entry.png" class="image-size">
                    <div class="pb-45">Add Visitor</div>
                </a>
                <a href="Javascript:void(0)" routerLink="total-visit-list" [routerLinkActive]="['active']">
                    <img src="../../assets/images/side-nav/userlist.png" class="image-size">
                    <div class="pb-45">Visitor List</div>
                </a>
                <a routerLink="user/list" href="Javascript:void(0)" (click)="logOut()">
                    <img src="../../assets/images/side-nav/logout.png" class="image-size">
                    <div class="pb-45">Logout</div>
                </a>
                <div class="version_side">
                    V1.2.3
                </div>

            </ng-container>



        </div>







</div>
    <div [ngClass]="this.authData?.token ? 'col-md-11' : 'col-md-12'" style="margin: 0; padding: 0 !important;">

        <app-header *ngIf="this.authData?.token" [showDashboardMenu]="showDashboardMenu" [fixHeader]="fixHeader">
        </app-header>
        <div class="conatiner-fluid" *ngIf="this.authData?.token">
            <div class="col-md-12" style="margin-top:0 ;">
                <div class="card">
                    <div class="right"
                        style="height: 75px; position: relative; margin-top: -2px; padding: 11px; border: 1px solid var(--cardBorder); box-shadow: 0px 2px 6px #00000029; border-radius: 0 0 6px 6px;">
                        <div style="position: absolute;
                        right: calc(50% - 101px);
                        height: 100%;
                        top: 0;
                        display: flex;
                        padding: 10px;
                        align-items: center;
                        justify-content: center;">
                            <img src="../../assets/images/login/cislogo.png" height="75%"
                                style="/* margin-left: 72%; *//* position: absolute; *//* right:;/* height: 100%; */ ">

                        </div>
                        <div
                            style="height: 100%; display: flex;position: absolute; right: 0; height: 100%; font-size: 12px;top: 0; padding: 0 11px;align-items: center;justify-content: center;flex-direction: column;">
                            <!-- <b> NCT OF DELHI </b><span><b>40</b> | New Delhi</span>  -->
                            <b> PATIALA </b><span><b>110</b> | RURAL</span> 
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>


</div>
<app-footer [showDashboardMenu]="showDashboardMenu" [fixHeader]="fixHeader"></app-footer>
<button *ngIf="isShow" (click)="gotoTop()"><span class="material-icons">
        arrow_upward
    </span>
</button>