<div class="container-fluid" *ngIf="authenticated">
  <div class="row" style="height: 0;">
    <div class="col-md-12 text-center" *ngIf="loader">
      <app-spiner [loader]="loader"></app-spiner>

    </div>
    <div class="col-md-12">
      <div class="mt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item dashboard for_bold" style="margin-top: -98px;">
              <a class="myheading">ANALYTICS</a>
            </li>
          </ol>
        </nav>
        <!-- <button *ngIf="viewGraphresetBtn == true" class="resetGraph" mat-stroked-button
          (click)="getVisitAnalyticGraphData()">
          RESET GRAPH
        </button>getFilterMeetStatus() -->
        <!-- <button mat-raised-button color="warn" class="viewVisitorUI" (click)="setToPollingTableView()">
          VIEW VISITOR LIST
        </button> -->
      </div>
    </div>
  </div>


  <div class="row">


    <div class="col-md-3">
      <div class="card card-padding card-hig">
        <div class="trend-kpi">
          <div class="percent-kpi">
            <svg fill="#10ba10" width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M384 160C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H544C561.7 96 576 110.3 576 128V288C576 305.7 561.7 320 544 320C526.3 320 512 305.7 512 288V205.3L342.6 374.6C330.1 387.1 309.9 387.1 297.4 374.6L191.1 269.3L54.63 406.6C42.13 419.1 21.87 419.1 9.372 406.6C-3.124 394.1-3.124 373.9 9.372 361.4L169.4 201.4C181.9 188.9 202.1 188.9 214.6 201.4L320 306.7L466.7 159.1L384 160z" />
            </svg>
            <b> 7</b>%
          </div>
          <div class="text-kpi">Last Elections</div>
        </div>
        <div class="row">
          <div class="text-center flex-vertical-center col-5 m-0">
            <i _ngcontent-fpy-c276="" class="fa fa-user" style="font-size: 32px; color: #1f3ad1;"></i>
            <span style="font-size: 9px;display: block;padding: 8px 0;color: #c1c1c1;letter-spacing: 0.5px;">
              TOTAL</span>
            <h5 class="mb-0">{{ anlyticData?.totalVisits || "0" }}</h5>
          </div>
          <div class="text-center col-7">
            <div id="kpi-total"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-padding card-hig">
        <div class="trend-kpi">
          <div class="percent-kpi">
            <svg fill="#10ba10" width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M384 160C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H544C561.7 96 576 110.3 576 128V288C576 305.7 561.7 320 544 320C526.3 320 512 305.7 512 288V205.3L342.6 374.6C330.1 387.1 309.9 387.1 297.4 374.6L191.1 269.3L54.63 406.6C42.13 419.1 21.87 419.1 9.372 406.6C-3.124 394.1-3.124 373.9 9.372 361.4L169.4 201.4C181.9 188.9 202.1 188.9 214.6 201.4L320 306.7L466.7 159.1L384 160z" />
            </svg>
            <b> 17</b>%
          </div>
          <div class="text-kpi">Last Week</div>
        </div>
        <div class="row">
          <div class="text-center flex-vertical-center col-5 m-0">
            <i class="fa fa-user" style="font-size: 32px;color: #5ba2c6;"></i>
            <span style="font-size: 9px;display: block;padding: 8px 0;color: #c1c1c1;letter-spacing: 0.5px;">
              TODAY</span>
            <h5 class="mb-0">{{ anlyticData?.todaysVisits || "0" }}</h5>
          </div>
          <div class="text-center col-7">
            <div id="kpi-today"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-padding card-hig">
        <div class="trend-kpi">
          <div class="percent-kpi">
            <svg fill="#c11b1b" width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M466.7 352L320 205.3L214.6 310.6C202.1 323.1 181.9 323.1 169.4 310.6L9.372 150.6C-3.124 138.1-3.124 117.9 9.372 105.4C21.87 92.88 42.13 92.88 54.63 105.4L191.1 242.7L297.4 137.4C309.9 124.9 330.1 124.9 342.6 137.4L512 306.7V223.1C512 206.3 526.3 191.1 544 191.1C561.7 191.1 576 206.3 576 223.1V384C576 401.7 561.7 416 544 416H384C366.3 416 352 401.7 352 384C352 366.3 366.3 352 384 352L466.7 352z" />
            </svg>
            <b> 5</b>%
          </div>
          <div class="text-kpi">Last Month</div>
        </div>
        <div class="row">
          <div class="text-center flex-vertical-center col-5 m-0">
            <i class="fa fa-user" style="font-size: 32px;color: #7b66d3;"></i>
            <span style="font-size: 9px;display: block;padding: 8px 0;color: #c1c1c1;letter-spacing: 0.5px;">
              THIS WEEK</span>
            <h5 class="mb-0">{{ anlyticData?.thisWeekVisits || "0" }}</h5>
          </div>
          <div class="text-center col-7">
            <div id="kpi-week"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-padding card-hig">
        <div class="trend-kpi">
          <div class="percent-kpi">
            <svg fill="#10ba10" width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M384 160C366.3 160 352 145.7 352 128C352 110.3 366.3 96 384 96H544C561.7 96 576 110.3 576 128V288C576 305.7 561.7 320 544 320C526.3 320 512 305.7 512 288V205.3L342.6 374.6C330.1 387.1 309.9 387.1 297.4 374.6L191.1 269.3L54.63 406.6C42.13 419.1 21.87 419.1 9.372 406.6C-3.124 394.1-3.124 373.9 9.372 361.4L169.4 201.4C181.9 188.9 202.1 188.9 214.6 201.4L320 306.7L466.7 159.1L384 160z" />
            </svg>
            <b> 21</b>%
          </div>
          <div class="text-kpi">Last Year</div>
        </div>
        <div class="row">
          <div class="text-center flex-vertical-center col-5 m-0">
            <i class="fa fa-user" style="font-size: 32px;color: #c35ebc;"></i>
            <span style="font-size: 9px;display: block;padding: 8px 0;color: #c1c1c1;letter-spacing: 0.5px;">
              THIS MONTH</span>
            <h5 class="mb-0">{{ anlyticData?.thisMonthVisits || "0" }}</h5>
          </div>
          <div class="text-center col-7">
            <div id="kpi-month"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="viewGraphresetBtn"
    style="position: sticky; top: -17px; z-index: 100000; /* display: flex; */ /* flex-direction: row; */ /* align-items: center; */ /* justify-content: center; */ border-right: none; background-color: unset !important; background: none;">
    <div class="col-md-12">
      <div class="card card-padding">
        <div class="text-center"
          style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">

          <div style="font-size: 20px;display: flex;align-items: center;justify-content: center;"><span
              style="font-size: 12px;letter-spacing: 1px;padding-right: 6px;"> FILTERED VISITORS : </span>
            {{filteredVisitorCount || 0}}</div>




          <div style="margin: 0 20px;">
            <span class="filter-tag" *ngIf="appliedFilters['gender']">{{ appliedFilters["gender"] }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['purpose']">{{ appliedFilters["purpose"] }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['area']?.value">{{ appliedFilters["area"]?.value }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['age']?.value">{{ appliedFilters["age"]?.value }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['caste']">{{ appliedFilters["caste"] }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['perceive']?.value">{{ "PPI - " +
              appliedFilters['perceive']?.value }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['aapMember']?.value">{{ appliedFilters["aapMember"]?.value ==
              "Yes" ? "AAP Member" : "Not AAP Member" }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['category']?.value">{{ appliedFilters["category"]?.value
              }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['occupation']?.value">{{ appliedFilters["occupation"]?.value
              }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['whomMeet']?.value">{{ "Meeting " +
              appliedFilters['whomMeet']?.value }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['meetStatus']?.value">{{ appliedFilters["meetStatus"]?.value
              }}</span>
            <span class="filter-tag" *ngIf="appliedFilters['meetLocation']?.value">{{
              appliedFilters["meetLocation"]?.value }}</span>
          </div>

          <button class="resetGraph" mat-stroked-button style="background: #a81919;
          /* margin: auto; */
          /* margin-top: 2px; */
          position: relative !important;
          /* left: 0; */
          border: 1px solid #f82626;
          /* top: 16px; */
          right: unset;
          display: flex;
          /* position: absolute !important; */
          /* text-align: center; */
          align-items: center;
          justify-content: center;
          width: 95px;
          letter-spacing: 2px;
          font-size: 12px;
          line-height: 30px;
        " (click)="getFilterMeetStatus()">
            <i class="fa fa-filter" aria-hidden="true"></i> RESET
          </button>

        </div>
      </div>
    </div>
  </div>
  <!-- geo -->
  <div class="row">
    <!-- <div class="col-md-12 col-lg-6">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-6">
            <h6>GEO: AC FOOTPRINT</h6>
          </div>
           <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a
                class="nav-link m-0 p-0 dropdown-toggle"
                
                id="geo"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Filter
              </a>
              <div class="dropdown-menu more_filter" aria-labelledby="geo">
                <a class="dropdown-item" >By Week</a>
                <a class="dropdown-item" >By Month</a>
                <a class="dropdown-item" >By Year</a> -->
    <!-- <div class="dropdown-item" href="javascript:void(0)">
                                    <mat-form-field appearance="fill">
                                        <mat-date-range-input [formGroup]="geoDateRange"
                                            [rangePicker]="geoDateRangePicker">
                                            <input matStartDate formControlName="fromDate" placeholder="Start date">
                                            <input matEndDate formControlName="toDate" placeholder="End date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="geoDateRangePicker">
                                        </mat-datepicker-toggle>
                                        <mat-date-range-picker #geoDateRangePicker></mat-date-range-picker>

                                        <mat-error
                                            *ngIf="geoDateRange.controls.fromDate.hasError('matStartDateInvalid')">
                                            Invalid
                                            start date</mat-error>
                                        <mat-error *ngIf="geoDateRange.controls.toDate.hasError('matEndDateInvalid')">
                                            Invalid end date
                                        </mat-error>
                                    </mat-form-field>
                                </div> 
           </div>
            </div>
          </div>
        </div>
     <p class="text-center text-danger" style="position: absolute; top: 60px; left: 20px">
          This graph not available at the moment.
        </p> 
       <div id="geoMap" class="mt-3" style="width: 100%; height: 350px"></div> 
        <app-area-map></app-area-map>
      </div>
    </div> -->

    <div class="col-md-12 col-lg-6">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-6">
            <h6>POLLING STATIONS FOOTPRINT</h6>
          </div>

        </div>
        <!-- <p class="text-center text-danger" style="position: absolute; top: 60px; left: 20px">
          This graph not available at the moment.
        </p> -->
        <div id="geoMap1" class="mt-3" style="width: 100%; height: 350px"></div>
        <div id="psData">

          <!-- Station <br/>
          No. {{ psData?.properties?.psno }}
          Locality: {{ psData?.properties?.locality }}
          Address: {{ psData?.properties?.address }} -->

        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-6">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-12">
            <h6>Another Graph</h6>
            <div id="anoth" class="mt-3" style="width: 100%; height: 450px"></div>
          </div>

        </div>
        <!-- <p class="text-center text-danger" style="position: absolute; top: 60px; left: 20px">
          This graph not available at the moment.
        </p> -->
      </div>
    </div>

    <div class="col-md-12 col-lg-12">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-12">
            <h6>Another Graph</h6>
            <div id="livepurpose" class="mt-3" style="width: 100%; height: 450px"></div>
          </div>

        </div>
        <!-- <p class="text-center text-danger" style="position: absolute; top: 60px; left: 20px">
          This graph not available at the moment.
        </p> -->
      </div>
    </div>

    <div class="col-md-12 col-lg-12">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-12">
            <h6>Bubble Graph</h6>
            <div id="bubblechart" class="mt-3" style="width: 100%; height: 450px"></div>
          </div>

        </div>
        <!-- <p class="text-center text-danger" style="position: absolute; top: 60px; left: 20px">
          This graph not available at the moment.
        </p> -->
      </div>
    </div>

  </div>
  <!-- purpose -->
  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-6">
            <h6>PURPOSE</h6>
          </div>
          <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a class="nav-link m-0 p-0 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ appliedFilters?.purpose ? appliedFilters?.purpose : "FILTER" }}
              </a>
              <div class="dropdown-menu pull-right more_filter_right" aria-labelledby="purpose">
                <a class="dropdown-item" (click)="purposeFilter(purpose?._id)" *ngFor="let purpose of purposes">{{
                  purpose?._id }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="example-loading-shade bg-none" *ngIf="graphDataLoader">
          <mat-spinner></mat-spinner>
        </div>
        <div id="purpose" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>
    <!-- app-visitor-occupation-graph -->
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-visitor-occupation-graph [visitorOccupationData]="visitorOccupatioData"
        [visitorOccupationOptionVar]="visitorOccupationOption"
        (visitorOccupationFilterObj)="visitorOccupationFilter($event)">
      </app-visitor-occupation-graph>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="card card-padding mt-3">
        <div class="row">
          <div class="col-md-6">
            <h6>GENDER</h6>
          </div>
          <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a class="nav-link m-0 p-0 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ appliedFilters?.gender ? appliedFilters.gender : 'FILTER' }}
              </a>
              <div class="dropdown-menu more_filter" aria-labelledby="geo">
                <a class="dropdown-item" (click)="genderFilter('Male')">MALE</a>
                <a class="dropdown-item" (click)="genderFilter('Female')">FEMALE</a>
                <!-- <div class="dropdown-item">
                                    <mat-form-field appearance="fill">
                                        <mat-date-range-input [formGroup]="PurposeDateRange"
                                            [rangePicker]="PurposeRangePicker">
                                            <input matStartDate formControlName="fromDate" placeholder="Start date">
                                            <input matEndDate formControlName="toDate" placeholder="End date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="PurposeRangePicker">
                                        </mat-datepicker-toggle>
                                        <mat-date-range-picker #PurposeRangePicker></mat-date-range-picker>

                                        <mat-error
                                            *ngIf="PurposeDateRange.controls.fromDate.hasError('matStartDateInvalid')">
                                            Invalid
                                            start date</mat-error>
                                        <mat-error
                                            *ngIf="PurposeDateRange.controls.toDate.hasError('matEndDateInvalid')">
                                            Invalid end date
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="example-loading-shade bg-none" *ngIf="graphDataLoader1">
          <mat-spinner></mat-spinner>
        </div>
        <div id="gender" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card card-padding mt-3">
        <div class="row">
          <div class="col-md-6">
            <h6>TIMEFRAME</h6>
          </div>
          <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a class="nav-link m-0 p-0 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                FILTER
              </a>
              <div class="dropdown-menu more_filter" aria-labelledby="geo">
                <a (click)="timeFrameFilter('By Week')" class="dropdown-item">BY WEEK</a>
                <a (click)="timeFrameFilter('By Month')" class="dropdown-item">BY MONTH</a>
                <a (click)="timeFrameFilter('By Year')" class="dropdown-item">BY YEAR</a>
                <a (click)="timeFrameFilter('By Date')" class="dropdown-item">BY DATE</a>
                <!-- <div class="dropdown-item">
                                    <mat-form-field appearance="fill">
                                        <mat-date-range-input [formGroup]="timeFrameRange"
                                            [rangePicker]="timeFramePicker">
                                            <input matStartDate formControlName="fromDate" placeholder="Start date">
                                            <input matEndDate formControlName="toDate" placeholder="End date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="timeFramePicker">
                                        </mat-datepicker-toggle>
                                        <mat-date-range-picker #timeFramePicker></mat-date-range-picker>

                                        <mat-error
                                            *ngIf="timeFrameRange.controls.fromDate.hasError('matStartDateInvalid')">
                                            Invalid
                                            start date</mat-error>
                                        <mat-error *ngIf="timeFrameRange.controls.toDate.hasError('matEndDateInvalid')">
                                            Invalid end date
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="example-loading-shade bg-none" *ngIf="graphDataLoader2">
          <mat-spinner></mat-spinner>
        </div>
        <div id="timeFrame" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>
  </div>
  <!-- app-visitor-area-graph -->
  <div class="row">
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-visitor-area-graph [visitorAreaGraphData]="visitorAreaData"
        (visitorAreaFilterObj)="visitorAreaFilter($event)">
      </app-visitor-area-graph>
    </div>
    <!-- app-samajwadi-party-graph -->
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-samajwadi-party-graph [samajwadiPartyData]="samajwadiPartyGraphData"
        (samajwadiPartyFilterObj)="samajwadiPartyFilter($event)">
      </app-samajwadi-party-graph>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-padding mt-3">
        <div class="row">
          <div class="col-md-6">
            <h6>CASTE</h6>
          </div>
          <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a class="nav-link m-0 p-0 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ appliedFilters?.cast ? appliedFilters.cast : 'FILTER' }} </a>
              <div class="dropdown-menu more_filter" aria-labelledby="geo">
                <ng-container *ngIf="casteGraph?.data">
                  <a class="dropdown-item cursor-pointer" *ngFor="let caste of casteGraph?.data"
                    (click)="casteFilter(caste?._id)">
                    {{ caste?._id |titlecase}}
                  </a>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="example-loading-shade bg-none" *ngIf="graphDataLoader3">
          <mat-spinner></mat-spinner>
        </div>
        <div id="caste" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>
  </div>

  <!-- Component wise graph further -->
  <div class="row">
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-perceived-political-inclination [perceivedPoliticalInclinationsVar]="
          perceivedPoliticalInclinationsOption
        " [perceivedPoliticalInclinationData]="perceivedPoliticalInclinationData"
        (perceivedFilterObj)="perceiveFilter($event)">
      </app-perceived-political-inclination>
    </div>
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-visitor-category-graph [visitorCategoryData]="visitorCategoryData"
        [visitorCategoriesOptionVar]="visitorCategoriesOption"
        (visitorCategoryFilterObj)="visitorCategoryFilter($event)">
      </app-visitor-category-graph>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-12 col-lg-4 for_pro">
      <app-ppi-graph></app-ppi-graph>
    </div> -->
    <div class="col-md-12 col-lg-6 for_pro">
      <app-whom-visitor-graph [whomVisitorMeetGraphData]="whomVisitorMeetGraphData"
        [whomVisitorMeetsOptionVar]="whomVisitorMeetsOption" (whomVisitorMeetFilterObj)="whomVisitorMeetFilter($event)">
      </app-whom-visitor-graph>
    </div>
    <div class="col-md-12 col-lg-6 for_pro2">
      <app-meeting-status-graph [meetingStatusGraphData]="meetingStatusGraphData"
        (meetingStatusGraphFilterObj)="meetingStatusGraphFilter($event)">
      </app-meeting-status-graph>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-md-12">
      <app-age-group-graph [ageGraphData]="ageGraphData" (ageFilterObj)="ageFilter($event)">
      </app-age-group-graph>
    </div>
    <div class="col-lg-5 col-md-12">
      <app-meeting-location-graph [meetingLocationGraphData]="meetingLocationGraphData"
        [meetingLocationsOptionVar]="meetingLocationsOption"
        (meetingLocationGraphFilterObj)="meetingLocationGraphFilter($event)">
      </app-meeting-location-graph>
    </div>
  </div>

</div>