<div class="container-fluid" *ngIf="this.authData.role===adminRole">
  <div class="row">
    <div class="col-md-12 text-center" *ngIf="loader">
      <app-spiner [loader]="loader"></app-spiner>

    </div>
    <div class="col-md-12">
      <div class="mt-3 card">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item dashboard for_bold">
              <a class="myheading">ANALYTICS</a>
            </li>
          </ol>
        </nav>
        <!-- <button *ngIf="viewGraphresetBtn == true" class="resetGraph" mat-stroked-button
          (click)="getVisitAnalyticGraphData()">
          RESET GRAPH
        </button>getFilterMeetStatus() -->
        <!-- <button mat-raised-button color="warn" class="viewVisitorUI" (click)="setToPollingTableView()">
          VIEW VISITOR LIST
        </button> -->
      </div>
    </div>
  </div>

  <div *ngIf="viewGraphresetBtn == true" class="card filters-applied">
    <span style="font-size: 9px;margin-top: 3px;text-align: center;color: #b9b9b9;">Filters are Applied</span>

    <button  class="resetGraph" mat-stroked-button
      style=" background: #414654; margin: auto; margin-top: 2px;left: 0; border: 1px springgreen;right: 0; display: flex;position: relative !important; /* text-align: center; */align-items: center;justify-content: center;width: 79px; border: 1px solid #8a8b8e;letter-spacing: 2px; font-size: 12px; line-height: 30px;"
      (click)="getFilterMeetStatus()">
      <i class="fa fa-filter" aria-hidden="true"></i> RESET
    </button>

  </div>

  <div class="row">


    <div class="col-md-3">
      <div class="card card-padding card-hig">
        <div class="text-center">
          <img class="img-fluid mb-2" width="30" src="../../../assets/images/usericon.png" alt="icon" />
          <h5 class="mb-0">{{ anlyticData?.totalVisits || "0" }}</h5>
          <small>TOTAL VISITORS</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-padding card-hig">
        <div class="text-center">
          <img class="img-fluid mb-2" width="30" src="../../../assets/images/usericon.png" alt="icon" />
          <h5 class="mb-0">{{ anlyticData?.todaysVisits || "0" }}</h5>
          <small>TODAY</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-padding card-hig">
        <div class="text-center">
          <img class="img-fluid mb-2" width="30" src="../../../assets/images/usericon.png" alt="icon" />
          <h5 class="mb-0">{{ anlyticData?.thisWeekVisits || "0" }}</h5>
          <small>THIS WEEK</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-padding card-hig">
        <div class="text-center">
          <img class="img-fluid mb-2" width="30" src="../../../assets/images/usericon.png" alt="icon" />
          <h5 class="mb-0">{{ anlyticData?.thisMonthVisits || "0" }}</h5>
          <small>THIS MONTH</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="viewGraphresetBtn">
    <div class="col-md-12">
      <div class="card card-padding">
        <div class="text-center">
          FILTERED VISITOR COUNT: {{filteredVisitorCount || 0}}
        </div>
      </div>
    </div>
  </div>
  <!-- geo -->
  <div class="row">
    <!-- <div class="col-md-12 col-lg-6">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-6">
            <h6>GEO: AC FOOTPRINT</h6>
          </div>
           <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a
                class="nav-link m-0 p-0 dropdown-toggle"
                
                id="geo"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Filter
              </a>
              <div class="dropdown-menu more_filter" aria-labelledby="geo">
                <a class="dropdown-item" >By Week</a>
                <a class="dropdown-item" >By Month</a>
                <a class="dropdown-item" >By Year</a> -->
    <!-- <div class="dropdown-item" href="javascript:void(0)">
                                    <mat-form-field appearance="fill">
                                        <mat-date-range-input [formGroup]="geoDateRange"
                                            [rangePicker]="geoDateRangePicker">
                                            <input matStartDate formControlName="fromDate" placeholder="Start date">
                                            <input matEndDate formControlName="toDate" placeholder="End date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="geoDateRangePicker">
                                        </mat-datepicker-toggle>
                                        <mat-date-range-picker #geoDateRangePicker></mat-date-range-picker>

                                        <mat-error
                                            *ngIf="geoDateRange.controls.fromDate.hasError('matStartDateInvalid')">
                                            Invalid
                                            start date</mat-error>
                                        <mat-error *ngIf="geoDateRange.controls.toDate.hasError('matEndDateInvalid')">
                                            Invalid end date
                                        </mat-error>
                                    </mat-form-field>
                                </div> 
           </div>
            </div>
          </div>
        </div>
     <p class="text-center text-danger" style="position: absolute; top: 60px; left: 20px">
          This graph not available at the moment.
        </p> 
       <div id="geoMap" class="mt-3" style="width: 100%; height: 350px"></div> 
        <app-area-map></app-area-map>
      </div>
    </div> -->

    <div class="col-md-12 col-lg-6">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-6">
            <h6>GEO: DISTRICT FOOTPRINT</h6>
          </div>

        </div>
        <!-- <p class="text-center text-danger" style="position: absolute; top: 60px; left: 20px">
          This graph not available at the moment.
        </p> -->
        <div id="geoMap1" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>

    <div class="col-md-12 col-lg-6">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-6">
            <h6>Another Graph</h6>
          </div>

        </div>
        <!-- <p class="text-center text-danger" style="position: absolute; top: 60px; left: 20px">
          This graph not available at the moment.
        </p> -->
      </div>
    </div>

  </div>
  <!-- purpose -->
  <div class="row">

    <div class="col-md-12 col-lg-6">
      <div class="card card-padding">
        <div class="row">
          <div class="col-md-6">
            <h6>PURPOSE</h6>
          </div>
          <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a class="nav-link m-0 p-0 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                FILTER
              </a>
              <div class="dropdown-menu pull-right more_filter_right" aria-labelledby="purpose">
                <a class="dropdown-item" (click)="purposeFilter(purpose?._id)" *ngFor="let purpose of purposes">{{
                  purpose?._id }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="example-loading-shade bg-none" *ngIf="graphDataLoader">
          <mat-spinner></mat-spinner>
        </div>
        <div id="purpose" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>
    <!-- app-visitor-occupation-graph -->
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-visitor-occupation-graph [visitorOccupationData]="visitorOccupatioData"
        [visitorOccupationOptionVar]="visitorOccupationOption"
        (visitorOccupationFilterObj)="visitorOccupationFilter($event)">
      </app-visitor-occupation-graph>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="card card-padding mt-3">
        <div class="row">
          <div class="col-md-6">
            <h6>GENDER</h6>
          </div>
          <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a class="nav-link m-0 p-0 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ appliedFilters?.gender ? appliedFilters.gender : 'FILTER' }}
              </a>
              <div class="dropdown-menu more_filter" aria-labelledby="geo">
                <a class="dropdown-item" (click)="genderFilter('Male')">MALE</a>
                <a class="dropdown-item" (click)="genderFilter('Female')">FEMALE</a>
                <!-- <div class="dropdown-item">
                                    <mat-form-field appearance="fill">
                                        <mat-date-range-input [formGroup]="PurposeDateRange"
                                            [rangePicker]="PurposeRangePicker">
                                            <input matStartDate formControlName="fromDate" placeholder="Start date">
                                            <input matEndDate formControlName="toDate" placeholder="End date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="PurposeRangePicker">
                                        </mat-datepicker-toggle>
                                        <mat-date-range-picker #PurposeRangePicker></mat-date-range-picker>

                                        <mat-error
                                            *ngIf="PurposeDateRange.controls.fromDate.hasError('matStartDateInvalid')">
                                            Invalid
                                            start date</mat-error>
                                        <mat-error
                                            *ngIf="PurposeDateRange.controls.toDate.hasError('matEndDateInvalid')">
                                            Invalid end date
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="example-loading-shade bg-none" *ngIf="graphDataLoader1">
          <mat-spinner></mat-spinner>
        </div>
        <div id="gender" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card card-padding mt-3">
        <div class="row">
          <div class="col-md-6">
            <h6>TIMEFRAME</h6>
          </div>
          <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a class="nav-link m-0 p-0 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                FILTER
              </a>
              <div class="dropdown-menu more_filter" aria-labelledby="geo">
                <a (click)="timeFrameFilter('By Week')" class="dropdown-item">BY WEEK</a>
                <a (click)="timeFrameFilter('By Month')" class="dropdown-item">BY MONTH</a>
                <a (click)="timeFrameFilter('By Year')" class="dropdown-item">BY YEAR</a>
                <a (click)="timeFrameFilter('By Date')" class="dropdown-item">BY DATE</a>
                <!-- <div class="dropdown-item">
                                    <mat-form-field appearance="fill">
                                        <mat-date-range-input [formGroup]="timeFrameRange"
                                            [rangePicker]="timeFramePicker">
                                            <input matStartDate formControlName="fromDate" placeholder="Start date">
                                            <input matEndDate formControlName="toDate" placeholder="End date">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="timeFramePicker">
                                        </mat-datepicker-toggle>
                                        <mat-date-range-picker #timeFramePicker></mat-date-range-picker>

                                        <mat-error
                                            *ngIf="timeFrameRange.controls.fromDate.hasError('matStartDateInvalid')">
                                            Invalid
                                            start date</mat-error>
                                        <mat-error *ngIf="timeFrameRange.controls.toDate.hasError('matEndDateInvalid')">
                                            Invalid end date
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="example-loading-shade bg-none" *ngIf="graphDataLoader2">
          <mat-spinner></mat-spinner>
        </div>
        <div id="timeFrame" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>
  </div>
  <!-- app-visitor-area-graph -->
  <div class="row">
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-visitor-area-graph [visitorAreaGraphData]="visitorAreaData"
        (visitorAreaFilterObj)="visitorAreaFilter($event)">
      </app-visitor-area-graph>
    </div>
    <!-- app-samajwadi-party-graph -->
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-samajwadi-party-graph [samajwadiPartyData]="samajwadiPartyGraphData"
        (samajwadiPartyFilterObj)="samajwadiPartyFilter($event)">
      </app-samajwadi-party-graph>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-padding mt-3">
        <div class="row">
          <div class="col-md-6">
            <h6>CASTE</h6>
          </div>
          <div class="col-md-6">
            <div class="nav-item dropdown text-right">
              <a class="nav-link m-0 p-0 dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                FILTER </a>
              <div class="dropdown-menu more_filter" aria-labelledby="geo">
                <ng-container   *ngIf="casteGraph?.data">
                  <a class="dropdown-item cursor-pointer" 
                  *ngFor="let caste of casteGraph?.data" (click)="casteFilter(caste?._id)">
                  {{ caste?._id |titlecase}}
                </a>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="example-loading-shade bg-none" *ngIf="graphDataLoader3">
          <mat-spinner></mat-spinner>
        </div>
        <div id="caste" class="mt-3" style="width: 100%; height: 350px"></div>
      </div>
    </div>
  </div>

  <!-- Component wise graph further -->
  <div class="row">
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-perceived-political-inclination [perceivedPoliticalInclinationsVar]="
          perceivedPoliticalInclinationsOption
        " [perceivedPoliticalInclinationData]="perceivedPoliticalInclinationData"
        (perceivedFilterObj)="perceiveFilter($event)">
      </app-perceived-political-inclination>
    </div>
    <div class="col-lg-6 col-md-12 ipro_ip">
      <app-visitor-category-graph [visitorCategoryData]="visitorCategoryData"
        [visitorCategoriesOptionVar]="visitorCategoriesOption"
        (visitorCategoryFilterObj)="visitorCategoryFilter($event)">
      </app-visitor-category-graph>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-12 col-lg-4 for_pro">
      <app-ppi-graph></app-ppi-graph>
    </div> -->
    <div class="col-md-12 col-lg-6 for_pro">
      <app-whom-visitor-graph [whomVisitorMeetGraphData]="whomVisitorMeetGraphData"
        [whomVisitorMeetsOptionVar]="whomVisitorMeetsOption" (whomVisitorMeetFilterObj)="whomVisitorMeetFilter($event)">
      </app-whom-visitor-graph>
    </div>
    <div class="col-md-12 col-lg-6 for_pro2">
      <app-meeting-status-graph [meetingStatusGraphData]="meetingStatusGraphData"
        (meetingStatusGraphFilterObj)="meetingStatusGraphFilter($event)">
      </app-meeting-status-graph>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-md-12">
      <app-age-group-graph [ageGraphData]="ageGraphData" (ageFilterObj)="ageFilter($event)">
      </app-age-group-graph>
    </div>
    <div class="col-lg-5 col-md-12">
      <app-meeting-location-graph [meetingLocationGraphData]="meetingLocationGraphData"
        [meetingLocationsOptionVar]="meetingLocationsOption"
        (meetingLocationGraphFilterObj)="meetingLocationGraphFilter($event)">
      </app-meeting-location-graph>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-12">
      <div class="card card-padding mt-3">
        <div class="row">
          <div class="col-md-7">
            <h6 class="mb-0 mt-2">List of Visitors</h6>
          </div>
          <div class="col-md-5" align="right">
            <!-- <a href="https://www.projectyz.thensight.in/api/v1/visitor/download-csv?limit=6000" target="_self">  <button class="mr-2 margin-bot" mat-flat-button color="accent"> -->
            <!-- <a (click)="openInNewTab()" href="{{ this.baseApiUrl}}" target="_self">   -->

            <a (click)="openInNewTab()">

              <button class="mr-2 margin-bot" mat-flat-button color="accent">

                EXPORT ALL DATA
              </button></a>

              <button mat-flat-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button>
              <button mat-flat-button (click)="exporter.exportTable('csv')">Csv</button>
              <button mat-flat-button (click)="exporter.exportTable('json')">Json</button>
              <button mat-flat-button (click)="exporter.exportTable('txt')">Txt</button>

            <!-- <button (click)="exportTable()" class="mr-2 margin-bot" mat-flat-button color="accent">
              EXPORT EXCEL
            </button>
            <button (click)="exportTableInPDF()" class="mr-2 margin-bot" mat-flat-button color="primary">
              EXPORT PDF
            </button> -->
            <button class="mr-2" mat-flat-button color="warn" [routerLink]="['/add-visitor']"
              routerLinkActive="router-link-active">
              + ADD NEW VISITOR
            </button>
          </div>
        </div>
        <hr />
        <div class="form-inline">
          <div class="form-group">
            <div id="custom-search-input">
              <div class="input-group margin-bot">
                <span class="search-label">SEARCH: </span>
                <!-- <mat-form-field  style="    height: 2.7em !important;
                                    width: 13.3em;">
                                        <input matInput [(ngModel)]="filterValue" class="search-query form-control"
                                        placeholder="Name / Unique Id / Mobile / city..." />
                                      </mat-form-field> -->
                <input type="text" [ngModel]="filterValue" class="search-query form-control" style="width: 20em"
                  placeholder="Name / Unique Id / Mobile" (ngModelChange)="filterByName($event)" />
                <span class="input-group-btn" style="margin-right: 1em">
                  <button class="btn btn-danger" type="button">
                    <span class="material-icons" style="cursor: default;"> search </span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-right: 1em">
            <div id="filterByPurpose">
              <div class="input-group margin-bot">
                <span class="search-label">FILTER BY PURPOSE : </span>
                <mat-form-field appearance="fill">
                  <!-- <mat-label>Select purpose</mat-label> -->
                  <mat-select [(ngModel)]="filterInitial" (ngModelChange)="filterPurpose($event)">
                    <mat-option value="" selected disabled>All</mat-option>
                    <mat-option *ngFor="let purpose of purposes" [value]="purpose._id">
                      {{ purpose?._id }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-right: 1em">
            <form [formGroup]="range">
              <div class="row">
                <div class="col-md-8">
                  <div id="visitorRangeDatem-0" class="float-right">
                    <div class="input-group margin-bot">
                      <span class="search-label">FILTER BY DATE : </span>
                      <mat-form-field appearance="fill">
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                          <input matStartDate formControlName="fromDate" placeholder="Start date" readonly />
                          <input matEndDate formControlName="toDate" placeholder="End date" readonly />
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="
                          range.controls.fromDate.hasError('matStartDateInvalid')
                        ">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.toDate.hasError('matEndDateInvalid')">Invalid end date
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <button class="mt-1 d-inline-block" mat-stroked-button style="margin-right: 1em"
                    (click)="filterTable()">
                    SEARCH
                  </button>
                </div>
                <div class="col-md-2">
                  <button class="mt-1 d-inline-block" mat-stroked-button (click)="resetFilter()">
                    RESET
                  </button>
                </div>
              </div>
            </form>
          </div>


        </div>

        <div class="row">
          
          <div class="col-md-12">
            <div class="example-container mat-elevation-z8">
              <div class="example-loading-shade" >
                <mat-spinner></mat-spinner>
              </div>
              <div class="table-responsive">
                <div class="mat-elevation-z8 mt-3">
                  <mat-table></mat-table>
                  <table id="exportVisitorListTable" matTableExporter mat-table [dataSource]="dataSource"
                  >
                    <!-- Position Column -->
                    <ng-container matColumnDef="S.No.">
                      <th mat-header-cell *matHeaderCellDef>S.No.</th>
                      <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Unique Visitor ID">
                      <th mat-header-cell *matHeaderCellDef>
                        Unique Visitor ID
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.uniqueVisitorId || 'NA' }}
                      </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Visitor_Name">
                      <th mat-header-cell *matHeaderCellDef>Visitor Name</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.fullName || 'NA'}}
                      </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Address">
                      <th mat-header-cell *matHeaderCellDef>Address</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.address?.houseNumber }} {{ element?.address?.line1 }}
                        <!-- {{ element.address?.line2 }} -->
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Date">
                      <th mat-header-cell *matHeaderCellDef>Created Date</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.createdAt | date: "dd/MM/yyyy" }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="enrollmentDate">
                      <th mat-header-cell *matHeaderCellDef>Enrollment Date</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.enrollmentDate | date: "dd/MM/yyyy" }}
                      </td>
                    </ng-container>




                    <ng-container matColumnDef="Mobile">
                      <th mat-header-cell *matHeaderCellDef>Mobile</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.mobile || 'NA'}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Purpose_of_Visit">
                      <th mat-header-cell *matHeaderCellDef>
                        Purpose of Visit
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.revisits[0]?.visitPurposeCategory || 'NA'}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef>Status</th>
                      <td mat-cell [ngClass]="[
                          element?.revisits[0]?.status == 'In Progress'
                            ? 'text-warning'
                            : '' || element?.revisits[0]?.status == 'Unresolved'
                            ? 'text-danger'
                            : '' || element?.revisits[0]?.status == 'Resolved'
                            ? 'text-success'
                            : ''
                        ]" *matCellDef="let element">
                        {{ element?.revisits[0]?.status || 'NA'}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Visitor_Category">
                      <th mat-header-cell *matHeaderCellDef>
                        Visitor Category
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{
                        element?.politicalinfo?.visitorCategory ||
                        "NA"
                        }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Total_no_of_Visits">
                      <th mat-header-cell *matHeaderCellDef>
                        Total no of Visits
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.totalVisits || 'NA' }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Remarks">
                      <th mat-header-cell *matHeaderCellDef>Remarks</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.objectiveinfo?.remark || 'NA' }}
                      </td>

                      <td></td>
                    </ng-container>

                    <ng-container matColumnDef="politicalInformationRemarks">
                      <th mat-header-cell *matHeaderCellDef>
                        Remarks (In case if the visitor comes with some reference)*
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.politicalinfo?.remarks || 'NA' }}
                      </td>

                    </ng-container>
                    <ng-container matColumnDef="refrenceName">
                      <th mat-header-cell *matHeaderCellDef>
                        Reference Name
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.politicalinfo?.refrenceName || 'NA' }}
                      </td>

                    </ng-container>
                    <ng-container matColumnDef="refrenceMobile">
                      <th mat-header-cell *matHeaderCellDef>
                        Reference Mobile
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.politicalinfo?.refrenceMobile || 'NA' }}
                      </td>

                    </ng-container>
                    <ng-container matColumnDef="refrenceRemark">
                      <th mat-header-cell *matHeaderCellDef>
                        Reference Remark
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.politicalinfo?.refrenceRemark || 'NA' }}
                      </td>

                    </ng-container>

                    <ng-container matColumnDef="accompliceName">
                      <th mat-header-cell *matHeaderCellDef>
                        Accomplice Name
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.politicalinfo?.accompliceName || 'NA' }}
                      </td>


                    </ng-container>
                    <ng-container matColumnDef="accompliceMobile">
                      <th mat-header-cell *matHeaderCellDef>
                        Accomplice Mobile
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.politicalinfo?.accompliceMobile || 'NA' }}
                      </td>

                    </ng-container>
                    <ng-container matColumnDef="accompliceRemark">
                      <th mat-header-cell *matHeaderCellDef>
                        Accomplice Remark
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.politicalinfo?.accompliceRemark || 'NA' }}
                      </td>

                    </ng-container>

                    <ng-container matColumnDef="captureDetailsOfAnyAccompliceWithTheVisitor">
                      <th mat-header-cell *matHeaderCellDef>
                        Capture details of any accomplice with the visitor
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{
                        element?.accomplicedDetails ||
                        "Not Available"
                        }}
                      </td>

                      <td></td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="Thank_You_Acknowledgment_message_sent">
                      <th mat-header-cell *matHeaderCellDef>
                        Thank You Acknowledgment message sent
                      </th>
                      <td class="text-center" mat-cell *matCellDef="let element">
                        {{
                          (element?.politicalinfo?.isAcknowledgementSent
                            ? "Yes"
                            : "No") || 'NA'
                        }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Information_sent_to_the_booth_village_coordinator_of_the_visitor">
                      <th mat-header-cell *matHeaderCellDef>
                        Information sent to the booth/Village coordinator of the
                        visitor
                      </th>
                      <td class="text-center" mat-cell *matCellDef="let element">
                        {{
                          (element?.politicalinfo?.isInfoSentToBooth
                            ? "Yes"
                            : "No") || 'NA'
                        }}
                      </td>
                    </ng-container> -->

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let element">
                        <a [routerLink]="[
                            '/visitor-list',
                            element?.uniqueVisitorId
                          ]" routerLinkActive="router-link-active" href="javascript:void(0)"><img width="30"
                            src="../../../assets/images/View.svg" alt="view" /></a>
                        &nbsp;
                        <a (click)="getVisitorDetail(element?.uniqueVisitorId)" href="javascript:void(0)"><img
                            width="20" src="../../../assets/images/edit.svg" alt="edit" /></a>
                      </td>

                      <td></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                  <div class="no-table-msg" *ngIf="
                      dataSource?.filteredData?.length === 0 ||
                      dataSource?.length === 0
                    ">
                    No data found
                  </div>
                </div>
              </div>
              <mat-paginator [length]="pageLength" [pageSizeOptions]="[20]" (page)="yourPageChangeLogic($event)">
                showFirstLastButtons></mat-paginator>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>