<mat-toolbar class="bg-transparent footer-position" *ngIf="!showDashboardMenu">
    <span> <img src="../../../../assets/images/nsight-logo.svg" class="img-fluid" alt="nsight" /> <span
            class="footer-text">
            <span>Powered by NSIGHT Consulting</span>
        </span>
    </span>
</mat-toolbar>

<div class="footer mt-3" *ngIf="showDashboardMenu">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-4">
                <span> <img src="../../../../assets/images/nsight-logo.svg" class="img-fluid" alt="nsight" style="margin-right: 1em;" />
                    <span style="font-size: 0.9em;">
                        <span>Powered by NSIGHT Consulting</span>
                    </span>
                </span>
            </div> -->
            <div class="col-md-12">
                <div class="font-13 text-center" style="font-size: 0.9em;">Copyright © 2006-2021, NSIGHT Consulting. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>